.env
.env.backup
*.pid
*.cache
*.zip
*.ini
*.lock
*.old
*.bak
*.sample
Caddyfile
NOTES.txt
SNIP.txt
/tools
/bin/ffi/source*
/node_modules
/vendor
/vendor-old
/.fleet
/.idea
/.nova
/.vscode
/.zed
rector.php
*.log
# macOS Thumbnail Files
.DS_Store
**/.DS_Store
._*
**/._*
*DS*
# macOS Trash & Thumbs
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__MACOSX/